<form action="/form/submit" method="post">
    <div id="item1">
        <label for="textBoxStringData">Enter text:</label>
        <input type="text" name="textBoxStringData" />
    </div>
    <input type="submit" value="Submit" />
    </div>
</form>
<!--
<div>
<h1>List of database items</h1>
@foreach (var item in ViewBag.AllListItems)
{
    <p>@item.ListData</p>
}
</div>
-->


<h1>Form Demo</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Timestamp</th>    
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.AllListItems)
        {
        <tr>
            <td>@item.ListId</td>
            <td>@item.ListData</td>
            <td>@item.ListTime</td>
        </tr>
        }
    </tbody>
</table>