<form action="/form/submit" method="post">
    <div id="item1">
        <label for="textBoxStringData">Enter text:</label>
        <input type="text" name="textBoxStringData" />
    </div>
    <div id="item2">
        <label for="textBoxIntData">Enter a number:</label>
        <input type="number" name="textBoxIntData" />    
    </div>
    <input type="checkbox" name="checkboxData" />
    <div>
    <input type="submit" value="Submit" />
    </div>
</form>