

<form action="/form/submit" method="post">
    <div id="item1" class="form-group">       
         <label for="textBoxStringData">Enter text:</label>        
        <input type="text" class="form-control" name="textBoxStringData" placeholder="Write some text"/>
    </div>
   <button type="submit" class="btn btn-primary " > Submit</button>
</form>




