<form action="/form/submit" method="post">
    <div id="item1">
        <label for="textBoxStringData">Enter text:</label>
        <input type="text" name="textBoxStringData" />
    </div>
    <input type="submit" value="Submit" />
    </div>
</form>