<form action="/form/submit" method="post">
    <div id="item1">
        <label for="textBoxStringData">Enter something:</label>
        <input type="text" name="textBoxStringData" />
    </div>

    <input type="checkbox" name="checkboxData" />
    <div id="item2">
        <input type="number" name="textBoxIntData" />    
    </div>

    <input type="submit" value="Submit" />
</form>