<form action="/form/submit" method="post">
    <div id="item1" class="form-group">
        <label for="textBoxStringData">Enter text:</label>
        <input type="text" name="textBoxStringData" />
    </div>
    <div class="form-group">
    <input type="submit" value="Submit" />
    </div>
</form>


<!--
<div>
<h1>List of database items</h1>
@foreach (var item in ViewBag.AllListItems)
{
    <p>@item.ListData</p>
}
</div>
-->


